
<% include header %>
<h3>Contact Form- ASK ME QUESTIONS OR ANYTHING</h3>

<div class="container" >
		<form id="myForm" onsubmit="myFunction()">
    <label for="fname"> Name</label>
    <input type="text" id="fname" name="firstname" pattern="[A-Za-z]*" placeholder="Your name.." required><br><br>

    <label for="Email">Mail</label>
    <input type="email" id="Email" name="Email" placeholder="Enter Mail.." required><br><br>
	
	<label for="ph">Phone Number</label>
	<input type="number" id="ph" name="phonenumber"pattern="[0-9]*" placeholder="your phonenumber.." required><br><br>

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">INDIA</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
	  <option value="India">Australia</option>
    </select><br><br>

    <label for="subject">Subject</label><br><br>
    <textarea id="subject" name="subject" placeholder="Write something.." required></textarea><br><br>

	<input type="submit"   value="Submit">
	<input type="reset"  value="Reset form">
  </form>
</div>
<br>


<a  href="https://bitbucket.org/pedditarakaraviteja/">
    <img src="images/download.png" align="left-side" id="bit"/>
</a>
<a href="https://github.com/pedditarakaraviteja">
<img  src="images/git hub.png"  align="center" id="git"/>
</a>
<a href="https://www.linkedin.com/in/tarakaraviteja-peddi-30902012a/">
<img src="images/linkedin-2815969_960_720.jpg" align="right" id="git"/>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="contact1.js"></script>